node_modules
build
npm-debug.log
debug.log
package-lock.json
.DS_Store
appsero-client/node_modules
appsero-client/public/hot
appsero-client/public/storage
appsero/storage/*.key
appsero-client/vendor
appsero-client/.idea
appsero-client/.vscode
appsero-client/nbproject
appsero-client/.vagrant
appsero-client/Homestead.json
appsero-client/Homestead.yaml
appsero-client/npm-debug.log
appsero-client/yarn-error.log
appsero-client/.env
appsero-client/.phpunit.result.cache
appsero-client/.DS_Store